In [41]:
import pandas as pd

In [42]:
pd.__version__

'1.1.5'

In [43]:
df_green_taxi_trip_data =pd.read_csv('green_tripdata_2019-01.csv')

In [44]:
df_taxi_zone_lookup = pd.read_csv('taxi+_zone_lookup.csv')

In [45]:
df_green_taxi_trip_data

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630913,2,2019-01-31 23:08:27,2019-01-31 23:22:59,N,1,255,226,1,3.33,13.0,0.5,0.5,2.14,0.0,NaN,0.3,18.39,1,1,0.0
630914,2,2019-01-31 23:21:26,2019-01-31 23:23:05,N,1,75,151,1,0.72,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,0.0
630915,2,2019-01-31 23:30:05,2019-01-31 23:36:14,N,1,75,238,1,1.75,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,1,1,0.0
630916,2,2019-01-31 23:59:58,2019-02-01 00:04:18,N,1,74,74,1,0.57,5.0,0.5,0.5,1.00,0.0,NaN,0.3,7.30,1,1,0.0
630917,2,2019-01-31 23:18:22,2019-01-31 23:26:06,N,1,75,262,1,2.11,8.5,0.5,0.5,1.96,0.0,NaN,0.3,11.76,1,1,0.0

In [46]:
df_taxi_zone_lookup

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [47]:
pd.io.sql.get_schema(df_green_taxi_trip_data,name='green_taxi_data')

'CREATE TABLE "green_taxi_data" (\n"VendorID" INTEGER,\n  "lpep_pickup_datetime" TEXT,\n  "lpep_dropoff_datetime" TEXT,\n  "store_and_fwd_flag" TEXT,\n  "RatecodeID" INTEGER,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "ehail_fee" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "payment_type" INTEGER,\n  "trip_type" INTEGER,\n  "congestion_surcharge" REAL\n)'

In [48]:
pd.io.sql.get_schema(df_taxi_zone_lookup,name='taxi_zone_lookup')

'CREATE TABLE "taxi_zone_lookup" (\n"LocationID" INTEGER,\n  "Borough" TEXT,\n  "Zone" TEXT,\n  "service_zone" TEXT\n)'

In [49]:
df_green_taxi_trip_data.lpep_pickup_datetime = pd.to_datetime(df_green_taxi_trip_data.lpep_pickup_datetime)
df_green_taxi_trip_data.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi_trip_data.lpep_dropoff_datetime)

In [50]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\python\python37\lib\site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in c:\python\python37\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: importlib-metadata in c:\python\python37\lib\site-packages (from sqlalchemy) (6.0.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\python\python37\lib\site-packages (from importlib-metadata->sqlalchemy) (4.4.0)
Requirement already satisfied: zipp>=0.5 in c:\python\python37\lib\site-packages (from importlib-metadata->sqlalchemy) (3.11.0)
Note: you may need to restart the kernel to use updated packages.

In [51]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\python\python37\lib\site-packages (2.9.5)Note: you may need to restart the kernel to use updated packages.

In [52]:
from sqlalchemy import create_engine

In [53]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [54]:
engine.connect()

In [55]:
print(pd.io.sql.get_schema(df_green_taxi_trip_data,name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [56]:
df_iter =pd.read_csv('green_tripdata_2019-01.csv',iterator=True,chunksize=100000)

In [57]:
df_green_taxi_trip_data.head(n=0).to_sql(name='green_taxi_data',con=engine, index=False, if_exists='replace')

In [58]:
from time import time

In [59]:
while True:
     t_start = time()
    
     df_green_taxi_trip_data = next(df_iter)
    
     df_green_taxi_trip_data.lpep_pickup_datetime = pd.to_datetime(df_green_taxi_trip_data.lpep_pickup_datetime)
     df_green_taxi_trip_data.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi_trip_data.lpep_dropoff_datetime)
    
     df_green_taxi_trip_data.to_sql(name='green_taxi_data',con = engine,index =False, if_exists='append')
    
     t_end = time()
    
     print('Inserterd another chunk of data.., It took %.3f seconds'%(t_end - t_start))

Inserterd another chunk of data.., It took 8.060 seconds
Inserterd another chunk of data.., It took 7.230 seconds
Inserterd another chunk of data.., It took 7.403 seconds
Inserterd another chunk of data.., It took 7.266 seconds
Inserterd another chunk of data.., It took 7.274 seconds
Inserterd another chunk of data.., It took 7.526 seconds
Inserterd another chunk of data.., It took 2.353 seconds

StopIteration:

In [ ]:
df_taxi_zone_lookup.head(n=0).to_sql(name='taxi_zone_lookup',con=engine, index=False, if_exists='replace')

In [ ]:
df_taxi_zone_lookup.to_sql(name='taxi_zone_lookup',con = engine,index =False, if_exists='append')